name = "{{workerName}}"
main = "src/index.ts"
compatibility_date = "2024-01-01"

[env.dev]
name = "{{workerName}}-dev"

[[env.dev.kv_namespaces]]
binding = "CACHE"
id = "dev_cache_namespace_id"

[env.staging]
name = "{{workerName}}-staging"

[[env.staging.kv_namespaces]]
binding = "CACHE"
id = "staging_cache_namespace_id"

[env.production]
name = "{{workerName}}-prod"

[[env.production.kv_namespaces]]
binding = "CACHE"
id = "prod_cache_namespace_id"
